@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>

    .btn-primary {
        background-color: #03c04A;
        border: none;
        padding: 10px 45px;
    }

    .heading-section {
        margin-top: 13px;
        margin-bottom: 5px;
        font-family: Roboto;
        font-size: 50px;
        font-weight: bold;
        color: #0099ff;
        text-align: center;
    }

    .downc {
        font-family: Roboto;
        font-size: 16px;
        color: grey;
        text-align: center;
        margin-top: -50px;
    }

    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }

</style>
<body>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="heading-section">About Us</h1>
            <img src="~/Images/Feedback/aboutUs.gif" width="1000" height="350" class="center"><br /><br /><br />
            <p class="downc">This is an Online Fitness Center Management web application which helps to manage members and coaches efficiently and also to provide special notices in the dashboard, through this system admin can register members and members can reserve a coach via online. Admin can also edit member details, delete members and generate reports of existing members. At the same time the admin can edit coach details, delete and generate reports using existing coaches. Also, this web application allow members to pay their member fee through this system.</p>
        </div>
    </div>
</body>