@model ITPM.Models.ViewItemDetailsModel
@using System.Net.Http
@using ITPM.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
    @{

        List<OrderDetails> items = HttpContextAccessor.HttpContext.Session.Get<List<OrderDetails>>("items");
        OrderDetails item = null;
        if (items != null)
        {
            item = items.FirstOrDefault(c=>c.CoachID == Model.CoachID);
        }


    }
@{
    ViewData["Title"] = "Detail";
}
<br />

<style>
    div.col-8 {
        font-size: 20px;
        font-family: Roboto;
        font-weight: bold;
        color: #235CCD;
    }
</style>

<h2 class="text-info">Coach Details</h2>
<form asp-action="Detail" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Cname"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="CoachID" />
                    <input asp-for="Cname" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Cname" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="CAge"></label>
                </div>
                <div class="col-8">
                    <input asp-for="CAge" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="CAge" class="text-danger"></span>
            </div>
            @*<div class="form-group row">
            <div class="col-4">
                <label asp-for="Image"></label>
            </div>
            <div class="col-8">
                <input asp-for="Image" class="form-control" type="file" />
            </div>
            <span asp-validation-for="Image" class="text-danger"></span>
        </div>*@
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="contactnumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="contactnumber" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="contactnumber" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Description" class="form-control" readonly="readonly" />
                </div>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Rate"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Rate" class="form-control" readonly="readonly" />
                </div>
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-8">

                    @if (item != null)
                    {
                        <button type="submit" class="btn btn-danger form-control" asp-action="Remove" asp-route-id="@Model.CoachID">Remove to Cart</button>

                    }
                    else
                    {

                        <input type="submit" class="btn btn-info form-control" value="Make a Reservation" />

                    }

                </div>

            </div>
            <div class="form-group">

                <a asp-action="Index" class="btn btn-success">Back to List</a>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            <img src="~/images/Coaches/@Model.ImageName" width="100%"  object-fit="contain"  style="border-radius: 5px;border: 1px solid #efefef" />
            
            @*<img src="~/Images/Coaches/instock.png" width="50%" height="40px" />*@
        </div>

    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

