@model ITPM.Models.FeedbackClass

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout8";
}
<html>
<head>

    <style>
        h1.hh {
            color: #235CCD;
            font-family: Roboto;
            text-align: center;
            font-weight: bold;
            text-shadow: 2px 2px 8px #ABB2B9;
            font-size: 45px;
        }

        h4.hhh {
            color: black;
            font-family: Roboto;
            text-align: center;
            font-weight: bold;
            font-size: 35px;
            text-shadow: 0px 0px 5px #235CCD;
        }

        div.col-8.col-4 {
            font-size: 20px;
            font-family: Roboto;
            font-weight: normal;
        }

        div.col-3 {
            font-size: 20px;
            font-family: Roboto;
            font-weight: bold;
            color: black;
            text-align: center;
            filter: drop-shadow(8px 8px 10px #696969);
        }

        div.col-8 {
            font-size: 20px;
            font-family: Roboto;
            font-weight: bold;
            color: #235CCD;
        }

        div.form-group1 {
            padding-top: 22em;
        }

        * {
            box-sizing: border-box;
        }

        /*.img-magnifier-container {
            position: relative;
        }

        .img-magnifier-glass {
            position: absolute;
            border: 3px solid #000;
            border-radius: 50%;
            cursor: none;*/
            /*Set the size of the magnifier glass:*/
            /*width: 100px;
            height: 100px;
        }*/
    </style>


    @*<script>
        //Image magnifier
        function magnify(imgID, zoom) {
            var img, glass, w, h, bw;
            img = document.getElementById(imgID);
            /*create magnifier glass:*/
            glass = document.createElement("DIV");
            glass.setAttribute("class", "img-magnifier-glass");
            /*insert magnifier glass:*/
            img.parentElement.insertBefore(glass, img);
            /*set background properties for the magnifier glass:*/
            glass.style.backgroundImage = "url('" + img.src + "')";
            glass.style.backgroundRepeat = "no-repeat";
            glass.style.backgroundSize = (img.width * zoom) + "px " + (img.height * zoom) + "px";
            bw = 3;
            w = glass.offsetWidth / 2;
            h = glass.offsetHeight / 2;
            /*execute a function when someone moves the magnifier glass over the image:*/
            glass.addEventListener("mousemove", moveMagnifier);
            img.addEventListener("mousemove", moveMagnifier);
            /*and also for touch screens:*/
            glass.addEventListener("touchmove", moveMagnifier);
            img.addEventListener("touchmove", moveMagnifier);
            function moveMagnifier(e) {
                var pos, x, y;
                /*prevent any other actions that may occur when moving over the image*/
                e.preventDefault();
                /*get the cursor's x and y positions:*/
                pos = getCursorPos(e);
                x = pos.x;
                y = pos.y;
                /*prevent the magnifier glass from being positioned outside the image:*/
                if (x > img.width - (w / zoom)) { x = img.width - (w / zoom); }
                if (x < w / zoom) { x = w / zoom; }
                if (y > img.height - (h / zoom)) { y = img.height - (h / zoom); }
                if (y < h / zoom) { y = h / zoom; }
                /*set the position of the magnifier glass:*/
                glass.style.left = (x - w) + "px";
                glass.style.top = (y - h) + "px";
                /*display what the magnifier glass "sees":*/
                glass.style.backgroundPosition = "-" + ((x * zoom) - w + bw) + "px -" + ((y * zoom) - h + bw) + "px";
            }
            function getCursorPos(e) {
                var a, x = 0, y = 0;
                e = e || window.event;
                /*get the x and y positions of the image:*/
                a = img.getBoundingClientRect();
                /*calculate the cursor's x and y coordinates, relative to the image:*/
                x = e.pageX - a.left;
                y = e.pageY - a.top;
                /*consider any page scrolling:*/
                x = x - window.pageXOffset;
                y = y - window.pageYOffset;
                return { x: x, y: y };
            }
        }
    </script>*@
</head>
<body>

    <h1 class="hh">Feedback Management</h1>

    <h4 class="hhh">Feedback Details</h4>
    <hr style="height: 2px; border-width: 0; color: gray; background-color: #235CCD" />

    <form asp-action="" method="post" enctype="multipart/form-data">
        <div class="p-4 rounded border row" style=" background-color: #D3D3D3; filter: drop-shadow(8px 8px 10px gray); margin-bottom: 40px">
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FeedID"></label>
                    </div>
                    <div class="col-8">
                        <input type="hidden" asp-for="FeedID" />
                        <input asp-for="FeedID" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="FeedID" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="FName" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="FName" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="LName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="LName" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="LName" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FeedType"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="FeedType" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="FeedType" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="FeedDes"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="FeedDes" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="FeedDes" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="St_01"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="St_01" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="St_01" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="St_02"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="St_02" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="St_02" class="text-danger"></span>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="Rate"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Rate" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="Rate" class="text-danger"></span>
                </div>
               
                @*<div class="form-group row">
                    <div class="col-4">
                        <label asp-for="ImageName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="ImageName" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="ImageName" class="text-danger"></span>
                </div>*@

            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <div class="img-magnifier-container">
                    @*Uploaded Image
                    <img src="@("~/images/items/"+Model.ImageName)" id="myimage" asp-append-version="true" width="250px" height="250px" />*@
                    @*<div id="myresult" class="img-zoom-result"></div>*@
                    <div class="form-group1">
                        <div>
                            @Html.ActionLink("Update", "Edit", new { id = Model.FeedID }, new { @class = "btn btn-outline-success" })
                            <a asp-action="FeedIn" value="Back" class="btn btn-outline-dark">Back to List</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </form>

    <script>
        /* Initiate Magnify Function
with the id of the image, and the strength of the magnifier glass:*/
        magnify("myimage", 3);
    </script>

</body>
</html>