@model ITPM.Models.NewMemberClass

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout4";
}
<style>
    h1.hh {
        color: #235CCD;
        font-family: Roboto;
        text-align: center;
        font-weight: bold;
        text-shadow: 2px 2px 8px #ABB2B9;
        font-size: 45px;
    }

    h4.hhh {
        color: black;
        font-family: Roboto;
        text-align: center;
        font-weight: bold;
        font-size: 35px;
        text-shadow: 0px 0px 5px #235CCD;
    }

    h4.confirmation {
        color: #FF0000;
        font-family: Roboto;
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        /* text-shadow: 0px 0px 2px black;*/
        -webkit-text-stroke: 1px black;
    }

    div.col-8.col-4 {
        font-size: 20px;
        font-family: Roboto;
        font-weight: normal;
    }

    div.col-3 {
        font-size: 20px;
        font-family: Roboto;
        font-weight: bold;
        color: black;
        text-align: center;
        filter: drop-shadow(8px 8px 10px #696969);
    }

    div.col-8 {
        font-size: 20px;
        font-family: Roboto;
        font-weight: bold;
        color: #235CCD;
    }

    div.del {
        padding-top: 16.3em;
    }

    .dellogo {
        padding-left: 515px;
        width: 60%;
    }
</style>

<h1 class="hh">Members Management</h1>

<h4 class="hhh">Delete Member</h4>

<hr style="height: 2px; border-width: 0; color: gray; background-color: #235CCD" />

<img src="~/Images/Coaches/del2 copy 2.gif" class="dellogo">
<br />

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row" style="background-color: #D3D3D3; filter: drop-shadow(8px 8px 10px gray); margin-bottom: 40px" >
        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>
        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Mid"></label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Mid" />
                    <input asp-for="Mid" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Mid" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Mname"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Mname" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Mname" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Age"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Age" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Email"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Email" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="MAddress"></label>
                </div>
                <div class="col-8">
                    <input asp-for="MAddress" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="MAddress" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Pnumber"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Pnumber" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Pnumber" class="text-danger"></span>
            </div>
            @*<div class="form-group row">
                <div class="col-4">
                    <label asp-for="ImageName"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ImageName" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>*@
        </div>
        <div class="col-1"></div>
        <div class="col-3">
            @*Uploaded Image
            <img src="@("~/images/coaches/"+Model.ImageName)" asp-append-version="true" width="250px" height="250px" />*@
            <div class="del">
                <form class="delete" asp-action="Delete">
                    <input type="submit" asp-action="Delete" asp-route-id="@Model.Mid" class="btn btn-outline-danger" value="Delete" />
                    <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
                </form>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}